    <IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect HTTP or non-www to https://www.rns.snwebkarma.in for live domain
    RewriteCond %{HTTP_HOST} ^rns\.snwebkarma\.in$ [NC,OR]
    RewriteCond %{HTTPS} off
    RewriteCond %{HTTP_HOST} ^(?:www\.)?rns\.snwebkarma\.in$ [NC]
    RewriteRule ^ https://www.rns.snwebkarma.in%{REQUEST_URI} [L,R=301]

    RewriteRule ^public(?:/|$) - [L]

    RewriteRule ^(?:app|bootstrap|config|database|resources|routes|storage|vendor)(?:/|$) - [F,L,NC]

    RewriteRule ^(.*)$ public/$1 [L]
    </IfModule>

    Options -Indexes